$primary:       #D1183E;
$secondary:     #FB5607;
$success:       #3A86FF;
$info:          #FF006E;
$light:         #8338EC;

@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons';